{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <div id="input-wrapper">
        <h1 id="landing-header">globalizr</h1>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <input type="search" id="landing-search" placeholder="globalize it." onfocus="this.placeholder = ''"/>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="about-list">
            <li><a href="/about/#what"><button class="btn my-btn">What</button></a></li>
            <li><a href="/about/#how"><button class="btn my-btn">How</button></a></li>
            <li><a href="/about/#about"><button class="btn my-btn">About</button></a></li>
        </ul>
    </div>
</div><!-- /.container -->
<div id="legend">
    
</div>
<div id="toolbar">
    
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $("#input-wrapper").css("opacity", 1);
        $(".about-list").css("opacity", 1);
    });
</script>
{% endblock %}
