{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        background: #000000 url({% static 'imgs/world/loading.gif' %}) center center no-repeat;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 13px;
        line-height: 20px;
        height: 100%;
      }

    </style>
{% endblock %}

{% block content %}
<div id="container"></div>
    <script type="text/javascript" src="{% static 'js/Detector.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Tween.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/globe.js' %}"></script>
    <script type="text/javascript">

    if(!Detector.webgl){
      Detector.addGetWebGLMessage();
    } else {

      var container = document.getElementById('container');
      var globe = new DAT.Globe(container);

      console.log(globe);
      var i, tweens = [];
      
      var xhr;
      TWEEN.start();
      
      xhr = new XMLHttpRequest();
      xhr.open('GET', '/api/interface/flickr/interesting/', true);
      xhr.onreadystatechange = function(e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            window.data = data;
            if (data.status == 0) {
                console.log("DEBUG");
                console.log(data.data.data);
                globe.addData(data.data.data, {format: 'magnitude', name: data.data.name, animated: true});
            }
//            for (i=0;i<data.length;i++) {
//              globe.addData(data[i][1], {format: 'magnitude', name: data[i][0], animated: true});
//            }
            globe.createPoints();
            globe.animate();
            document.body.style.backgroundImage = 'none'; // remove loading
          }
        }
      };
      xhr.send(null);
    }
    </script>
</div>
{% endblock %}
