@import url(http://fonts.googleapis.com/css?family=Arvo|Open+Sans);
body {
    background: url(/static/imgs/earth-from-space-desat.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding-bottom: 45px;
}

canvas {
    background-color: #222;
}

a:hover {
    text-decoration: none;
}

#input-wrapper {
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

#landing-header {
    padding: 20px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    font-size: 110px;
}

#landing-search {
    background-color: rgba(0,0,0,0);
    height: 150px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #ccc;
    font-size: 80px;
    text-align: center;
}

#landing-search:focus {
    outline: none;
}

.splash-about-list {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.splash-about-list > li {
    display: inline;
    padding: 0px 30px;
}

.about-list {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.about-list > li {
    display: inline;
    padding: 0px 30px;
}

.btn {
    margin: 10px;
    height: 80px;
    width:  200px;
    font-size: 40px;
    color: #333;
    text-align: center;
    border-radius: 8px;
}

.btn:hover {
    color: #ccc;
    background: rgba(0,0,0,0);
    border: 1px solid #ccc;
}

.info-div {
    width: 78%;
    height: 85%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y:auto;
    overflow-x:hidden;
    border-radius: 35px;
    background-color: rgba(192, 192, 192, 0.85);
    position: absolute;
    top: 5%;
    left: 11%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.info-div a {
    color: #0082B5;
}

.info-div a:hover {
    color: #d8d8d;
}

#devs-row {
    padding: 20px 0px;
}

.no-bullet > li {
    list-style-type: none;
}

footer {
    padding-top: 12px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    color: #F5F5F5;
    background-color: #333;
}

.globe-screen h1 {
    display: block;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.globe-screen form {
    display: block;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
